@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: Poppins;
    max-height: 100vh;
}

.menu {
    padding: 10px 30px; /* Agrega padding para dar espacio */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente */
    color: #fff;
    height: 7vw; /* Asegura una altura adecuada */
}


.logo {
    font-size: 28px;
    display: flex; /* Asegura que el contenido interno se alinee */
    align-items: center; /* Centra verticalmente */
}

.logo img {
    display: block;
    height: auto;
    max-height: 100px; /* Para que se ajuste bien */
}


nav {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-shadow: 0 0 60px rgba (202,228,225,0.3);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #717171;
    transform: scale(1.1);
}


.icon {
    color: #fff;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.icon:hover{
    transform: translateY(-2px);
    color: #717171;
}

.carrito{
    margin-left: 20px;
}

.search-container {
    display: none;
}

.product-detail {
    width: 80%;
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.product-detail img {
    width: 30%;  /* Ancho fijo */
    height: 500px; /* Alto fijo */
    object-fit: cover; /* Recorta el exceso manteniendo la proporción */
    border-radius: 10px; /* Opcional: bordes redondeados */
}

.product-info {
    width: 50%;
}

.product-info .title {
    font-family: Poppins;
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: -60px;
}

.product-info .description {
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
}

.product-info .specifications {
    list-style: none;
    padding: 0;
}

.product-info .specifications li {
    margin-top: 15px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 500;
    color: #1c1c1c;
}

.product-info .price{
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
}
.checkout {
    display: flex;
    justify-content: flex-end; /* Mueve el contenido (botón) a la derecha */
}
.checkout button{
    font-family: Poppins;
    background-color: transparent;
    border: 1px solid #5555;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: auto; /* Empuja el botón hacia la derecha */
    margin-top: 20px;
    transition: transform 0.3s, color 0.3s;
}

.checkout button:hover{
transform: translateY(-5px);
color: #545454;
}



@media screen and (max-width: 991px) {
    .product-detail {
        flex-direction: column;
        text-align: center;
    }

    .product-detail img {
        width: 80%;
    }

    .product-info {
        width: 100%;
    }

    .checkout {
        justify-content: center;
    }
}


/* animation */
.product-info .title,
.product-info .description,
.product-info .specifications,
.product-info .price,
.product-info .checkout{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.product-detail img{
    opacity: 0;
    animation: showImage 0.8s 1s ease-in-out 1 forwards;
}
@keyframes showImage{
    from{
        transform: translateX(-120px);
        filter: blur(10px);
    }to{
        transform: translateX(0);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes showContent{
    from{
        transform: translateY(-30px);
        filter: blur(10px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}
.product-info .title{
    animation-delay: 0.4s;
}
.product-info .description{
    animation-delay: 0.6s;
}
.product-info .specifications{
    animation-delay: 0.8s;
}
.product-info .price{
    animation-delay: 1s;
}
.product-info .checkout{
    animation-delay: 1.2s;
}
.product-detail img{
    animation-delay: 1.4s;
}